{% extends "base.html" %}
{% block content %}

<ul class="nav nav-tabs mb-4">
  <li class="nav-item">
    <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#alpha-pane">Alpha List</button>
  </li>
  <li class="nav-item">
    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#chain-pane">Chain List</button>
  </li>
</ul>

<div class="tab-content">
  <div class="tab-pane fade show active" id="alpha-pane">
    <div x-data="alphaCalculator()">
      <div class="row">
        <div class="col-md-6">{% include "partials/alpha_source.html" %}</div>
        <div class="col-md-6">{% include "partials/material_form.html" %}</div>
      </div>
      {% include "partials/calculate_button.html" %}
      {% include "partials/results.html" %}
    </div>
  </div>
  <div class="tab-pane fade" id="chain-pane">
    <div x-data="chainCalculator()">
      <div class="row">
        <div class="col-md-6">{% include "partials/chain_source.html" %}</div>
        <div class="col-md-6">{% include "partials/material_form.html" %}</div>
      </div>
      {% include "partials/calculate_button.html" %}
      {% include "partials/results.html" %}
    </div>
  </div>
</div>
{% endblock %}
